extends ../common/layout

block main-content 
    div.menu
        h2.page-title Menu Links 
        table 
            thead
                tr 
                    th Book
                    th Options
            tbody 
                each book in books 
                    tr 
                        td #{book.name} #{book.path} 
                        td
                            form(action="/admin/menu/delete")
                                input(type="hidden", name="bookId", value=book._id)
                                button(type="submit") Delete
        div.button
            a(href="/admin/menu/add") + Add Book