nav#nav
    a(href="/")
        h2.nav__logo Gutenberg
    ul.nav__links
        li
            a(href="/catalogue") Catalogue
        li
            a(href="/about") About Us
        li 
            a(href="/admin/menu") Admin Menu

