extends common/layout 

block main-content
    .split.left
        .centered 
            img(src="img/library.jpg")
            //- Image courtesy of Rafael Cosquiere via Pexels (https://www.pexels.com/photo/chair-beside-book-shelves-2041540/)
    .split.right 
        .centered 
            h2.page-title What is Gutenberg?
            //- Text generated via ChatGPT
            p Welcome to Gutenberg, Toronto's premier destination for books. Nestled in the heart of the city, we specialize in curating a collection that celebrates the timeless allure of literary treasures from bygone eras. Our bookstore is not just a place to find books; it's a haven for bibliophiles seeking the extraordinary. #[br]#[br] Visit Gutenberg and discover a world where the pages of history come alive. Whether you're seeking a rare first edition, a cherished childhood favorite, or simply the next great read, we invite you to experience the magic of Gutenberg, where every book has a story to tell.
            div.about-cta.button
                a(href="/catalogue") View our Catalogue